@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --breakpoint-mobile992: 992px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-mobile992)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-hides {
  display: none !important;
}

.spp-clone {
  margin-bottom: -15px;
}

.tooltipPaddingC {
  padding-bottom: 15px !important;
}

button {
  cursor: pointer;
}

.dark, .dark-theme {
  --orange-1: #000;
  --orange-2: #190e0a;
  --orange-3: #33170c;
  --orange-4: #4b1700;
  --orange-5: #5b2104;
  --orange-6: #6b3015;
  --orange-7: #834023;
  --orange-8: #a9532c;
  --orange-9: #ff6500;
  --orange-10: #f15800;
  --orange-11: #ff9c6d;
  --orange-12: #ffdbc9;

  --orange-a1: #00000000;
  --orange-a2: #ff8f6619;
  --orange-a3: #ff733c33;
  --orange-a4: #ff4f004b;
  --orange-a5: #ff5d0c5b;
  --orange-a6: #ff73336b;
  --orange-a7: #ff7d4583;
  --orange-a8: #ff7d43a9;
  --orange-a9: #ff6500;
  --orange-a10: #ff5d00f1;
  --orange-a11: #ff9c6d;
  --orange-a12: #ffdbc9;

  --orange-contrast: #fff;
  --orange-surface: #321c1480;
  --orange-indicator: #ff6500;
  --orange-track: #ff6500;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --orange-1: oklch(0% 0.0128 43.18);
      --orange-2: oklch(17.8% 0.0206 43.18);
      --orange-3: oklch(24.2% 0.0486 43.18);
      --orange-4: oklch(28.5% 0.0855 43.18);
      --orange-5: oklch(33% 0.0931 43.18);
      --orange-6: oklch(38.4% 0.0932 43.18);
      --orange-7: oklch(45.2% 0.1016 43.18);
      --orange-8: oklch(54% 0.1247 43.18);
      --orange-9: oklch(69.5% 0.205 43.18);
      --orange-10: oklch(65.7% 0.205 43.18);
      --orange-11: oklch(79.9% 0.175 43.18);
      --orange-12: oklch(92.5% 0.0562 43.18);

      --orange-a1: color(display-p3 0 0 0 / 0);
      --orange-a2: color(display-p3 0.9922 0.6039 0.4745 / 0.091);
      --orange-a3: color(display-p3 1 0.5098 0.298 / 0.185);
      --orange-a4: color(display-p3 1 0.3765 0.0902 / 0.271);
      --orange-a5: color(display-p3 1 0.4431 0.1569 / 0.33);
      --orange-a6: color(display-p3 1 0.5098 0.2824 / 0.393);
      --orange-a7: color(display-p3 1 0.5569 0.3451 / 0.479);
      --orange-a8: color(display-p3 1 0.5569 0.3373 / 0.62);
      --orange-a9: color(display-p3 1 0.4667 0.1882 / 0.93);
      --orange-a10: color(display-p3 1 0.4431 0.1843 / 0.875);
      --orange-a11: color(display-p3 1 0.6667 0.4902 / 0.946);
      --orange-a12: color(display-p3 1 0.8824 0.8157 / 0.977);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.1804 0.1176 0.0784 / 0.5);
      --orange-indicator: oklch(69.5% 0.205 43.18);
      --orange-track: oklch(69.5% 0.205 43.18);
    }
  }
}

.dark, .dark-theme {
  --gray-1: #000;
  --gray-2: #08131f;
  --gray-3: #102032;
  --gray-4: #132941;
  --gray-5: #17314d;
  --gray-6: #1a3a5e;
  --gray-7: #1f4875;
  --gray-8: #2d629d;
  --gray-9: #3b70ac;
  --gray-10: #4b7eb8;
  --gray-11: #91b7e4;
  --gray-12: #e5effc;

  --gray-a1: #00000000;
  --gray-a2: #429dff1f;
  --gray-a3: #52a4ff32;
  --gray-a4: #4ba1ff41;
  --gray-a5: #4da3ff4d;
  --gray-a6: #479eff5e;
  --gray-a7: #449dff75;
  --gray-a8: #499fff9d;
  --gray-a9: #58a6ffac;
  --gray-a10: #68afffb8;
  --gray-a11: #a2cdffe4;
  --gray-a12: #e8f2fffc;

  --gray-contrast: #FFFFFF;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #3b70ac;
  --gray-track: #3b70ac;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --gray-1: oklch(0% 0.0294 252.9);
      --gray-2: oklch(18.3% 0.0302 252.9);
      --gray-3: oklch(23.9% 0.0423 252.9);
      --gray-4: oklch(27.5% 0.0543 252.9);
      --gray-5: oklch(30.7% 0.061 252.9);
      --gray-6: oklch(34.4% 0.0734 252.9);
      --gray-7: oklch(39.7% 0.0891 252.9);
      --gray-8: oklch(48.9% 0.1101 252.9);
      --gray-9: oklch(53.7% 0.1101 252.9);
      --gray-10: oklch(58.3% 0.1048 252.9);
      --gray-11: oklch(76.8% 0.0769 252.9);
      --gray-12: oklch(94.9% 0.0207 252.9);

      --gray-a1: color(display-p3 0 0 0 / 0);
      --gray-a2: color(display-p3 0.3333 0.6353 1 / 0.118);
      --gray-a3: color(display-p3 0.4078 0.651 0.9961 / 0.193);
      --gray-a4: color(display-p3 0.3804 0.6353 1 / 0.248);
      --gray-a5: color(display-p3 0.3882 0.6392 1 / 0.295);
      --gray-a6: color(display-p3 0.3765 0.6275 1 / 0.357);
      --gray-a7: color(display-p3 0.3686 0.6235 1 / 0.448);
      --gray-a8: color(display-p3 0.3882 0.6353 1 / 0.6);
      --gray-a9: color(display-p3 0.4314 0.6667 1 / 0.655);
      --gray-a10: color(display-p3 0.4863 0.698 1 / 0.702);
      --gray-a11: color(display-p3 0.6824 0.8118 1 / 0.879);
      --gray-a12: color(display-p3 0.9216 0.9529 1 / 0.985);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.7% 0.1101 252.9);
      --gray-track: oklch(53.7% 0.1101 252.9);
    }
  }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #000;
}